@model AgendaOdontologica.Models.HomeLogin
@{
    ViewData["Title"] = " Agenda Odontologica";

}
<html lang="pt-br">
<head>



</head>

<body class="text-center">
    <form class="form-signin" asp-action="Login">
        <div class="checkbox mb-2">
            <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
            
            <label class="control-label"></label>
            <input class="form-control input-lg" asp-for="Login" placeholder="Login">
            <label class="control-label"></label>
            <input t class="form-control input-lg" asp-for="Senha" placeholder="senha">
            <div class="checkbox mb-3">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>

    </form>

</body>
</html>



